.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #12406f;
  padding: 15px 60px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-container {
  display: flex;
  align-items: center;
  gap: 20px; 
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav ul li {
  cursor: pointer;
  position: relative;
  font-size: 0.85rem;
}

.nav ul li i {
  margin-left: 5px;
  font-size: 12px; 
}

.search-icon {
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px;
}

.enroll-btn {
  background: white;
  color: #12406f;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.enroll-btn:hover {
  background-color: #666;
  color: white;
}

@media (max-width: 768px) {
  .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .nav-container {
    flex-wrap: wrap;
    gap: 10px;
  }
}
